                                    body {
                                        font-size: 16px;
                                        color: rgb(19, 18, 18);
                                        background-color: #fcfcfc;
                                        font-family: 'Oxygen', sans-serif;
                                    }
                                    /** HEADER **/
                                    
                                    .container {
                                        margin: 0;
                                        padding: 0;
                                    }
                                    
                                    #header-nav {
                                        background-color: #525251;
                                        border-radius: 0;
                                        border: 0;
                                    }
                                    
                                    .navbar-header {
                                        font-size: 50px;
                                        font-family: 'Balsamiq Sans', cursive;
                                    }
                                    
                                    .navbar-brand {
                                        padding-top: 25px;
                                        font-family: 'Lora', serif;
                                        color: #edf1ea;
                                        font-size: 1.0em;
                                        text-transform: uppercase;
                                        font-weight: bold;
                                        text-shadow: 1px 1px 1px rgb(9, 44, 241);
                                        margin-top: 0;
                                        margin-bottom: 0;
                                    }
                                    
                                    .navbar-brand a:hover,
                                    .navbar-brand a:focus {
                                        text-decoration: none;
                                    }
                                    
                                    #navbarNavDropdown {
                                        font-size: 2em;
                                        font-family: "Times New Roman", serif;
                                        box-shadow: 3px 3px 6px rgb(122, 122, 122);
                                        background-color: rgb(253, 246, 246);
                                        padding-right: 0;
                                        padding-left: 0;
                                        margin-right: 0;
                                        margin-left: 0;
                                        color: black;
                                        text-align: center;
                                    }
                                    
                                    hr {
                                        border: 1px solid black;
                                        background-color: black;
                                    }
                                    /* END HEADER */
                                    
                                    h2 {
                                        text-align: center;
                                        width: 100%;
                                    }
                                    
                                    #page-title {
                                        text-align: center;
                                        margin-bottom: 30px;
                                    }
                                    
                                    .chicken {
                                        background-color: rgb(248, 11, 236);
                                        border: 1px solid black;
                                    }
                                    
                                    .beef {
                                        background-color: lightblue;
                                        border: 1px solid black;
                                    }
                                    
                                    .sushi {
                                        background-color: crimson;
                                        border: 1px solid black;
                                    }
                                    
                                    #main-text {
                                        padding-left: 20px;
                                        padding-right: 20px;
                                    }
                                    
                                    .text-background {
                                        height: 3000px;
                                        padding: 20px 40px 20px 40px;
                                        overflow: hidden;
                                    }
                                    
                                    h3 {
                                        font-weight: bold;
                                    }
                                    /********* Large devices only *****/
                                    
                                    @media (min-width: 992px) {
                                        .col-md-12 {
                                            padding: 20px;
                                            margin: 10px, 30px, 10px, 30px
                                        }
                                        #navbarNavDropdown {
                                            visibility: hidden;
                                        }
                                    }
                                    /********Tablet Layout********/
                                    
                                    @media (min-width: 992px) {
                                        .col-sm-12 {
                                            padding: 20px;
                                            margin: 10px, 30px, 10px, 30px
                                        }
                                        #navbarNavDropdown {
                                            visibility: hidden;
                                        }
                                    }